
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.container{

    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(238, 104, 46),rgb(211, 72, 219));
    padding: 10px;
    /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)) , url('./images/bg1.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.todo-app{

    width: 100%;
    max-width: 540px;
    background: #ffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2{

    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img{

    width: 30px;
    margin-left: 10px;
}

.row{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{

    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;

}

button{

    
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff4549;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}


ul li{

list-style: none;
font-size: 17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;

}

ul li::before{

    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    /* border: 3px solid red; */
    border-radius: 50px;
    background-image: url(./images/emptyCircle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}

ul li.checked{

    columns: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    background-image: url(./images/tick.png);
}

.hitcounter img{
    width: 200px;
    border: 7px solid yellow;
}


ul li span{
   
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    align-items: center;
    border-radius: 50%;
}

ul li span:hover{

    background: #edeef0;
}

footer{
   
   width: 100%;
   position: absolute;
   bottom: 4%;
   color: #ffff;
   font-size: 14px;
   line-height: 50px;
   text-align: center;
  
 

}


footer h3{
    margin-bottom: 0;
    padding-bottom: 0;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 20px;
}

footer a{
    /* text-decoration: none; */
    color: #fff;
}